.custom__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Kumbh Sans', sans-serif;
}

.custom {
    width: 56rem;
    height: 35rem;
    margin: auto;
    display: flex;
    background-color: hsl(220, 14%, 40%);
    color: hsl(223, 64%, 98%);
}

.custom__selected {
    width: 8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.custom__selected > span {
    width: 100%;
    padding: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    background-color: hsl(220, 14%, 50%);
}

.custom__selected__selected {
    width: 100%;
    height:5.45rem;
    position: relative;
    cursor: pointer;
}

.custom__selected__selected--type  {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(5, 7, 12, 0.4),rgba(5, 7, 12, 0.4));
    font-size: 14px;
    padding: 0.2rem;
    z-index: 25;
}
.custom__selected__selected-img {
    background: linear-gradient(rgba(5, 7, 12, 0.3),rgba(5, 7, 12, 0.3));
}
.custom__selected__selected-img {
    width: 100%;
    height: 100%;
}

.custom__selected__selected-img  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom__selected__selected--hover {
    position: absolute;
    display: inline-block;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}

.custom__selected__selected-img:hover ~ .custom__selected__selected--hover {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(5, 7, 12, 0.6),rgba(5, 7, 12, 0.6));
}

.custom__list {
    width: 48rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.custom__list__type {
    font-weight: bold;
    text-align: end;
    padding: 0.5rem;
    padding-right: 1.5rem;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    background-color: hsl(220, 14%, 50%);
}

.custom__list__type__list {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 2rem;
    justify-content: flex-end;
}

.custom__list__type__list--element {
    width: 7rem;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
    color: hsl(220, 14%, 40%);
    background-color: hsl(223, 64%, 98%);
    position: relative;
}
.custom__list__type__list--element--selected {
    border: double 3px;
}
.custom__selected__selected-img-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(5, 7, 12, 0.6),rgba(5, 7, 12, 0.6));
    display: none;
}

.custom__selected__selected-img-hover div {
    margin: auto;
    width: 6.2rem;
    height: 7.4rem;
}

.custom__selected__selected-img-hover div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom__list__type__list--element--img {
    width: 5rem;
    height: 4rem;
}

.custom__list__type__list--element--img:hover  ~ .custom__selected__selected-img-hover{
    transition: all 1s ease;
    display: block;
    display: flex;
}

.custom__list__type__list--element--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.custom__list__type__list--element--name {
    font-size: 13px;
}

.custom__list__type__list--element--add {
    width: 90%;
    padding: 0.3rem 0rem;
    font-weight: bold;
    cursor: pointer;
    color:hsl(220, 14%, 40%) ;
    background-color: hsl(223, 64%, 98%);
    border: none;
    border:  double 2px hsl(220, 14%, 40%);
}

.custom__list__type__list--element--add:hover {
    color: hsl(223, 64%, 98%);
    background:hsl(220, 14%, 40%);
}
